/* The Header Section*/
.header {
    background: #252525;
    color: #aba6a6;
    height: 40rem;
}

.me {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 0px 200px;
}

.me>.txt {
    padding-top: 100px;
    
}



.orng {
    color: #e77619;
}

/* The Navigation Bar*/
ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px 0px 60px;
}

li a {
    color: #ffffff;
    font-weight: 600;   
    text-decoration: none;
}    

li a:hover {
    color: rgb(94, 254, 0);
    text-decoration: none;
}

ul>li:hover {
    color: rgb(94, 254, 0);
}

ul>li {
    list-style: none;
    font-weight: 600; 
}

/* The About Section*/
.about {
    background: #252525;
    color: #aba6a6;
}

.white {
    color: #e6e6e6;
}

.abt {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 0px 50px;
}

img {
    border-radius: 30px;
}

li {
    color: #e2e2e2;
}

.new-white {
    font-style: italic;
    font-weight: 700;
    color: #c0c0c0;
}

.abt-txt {
    line-height: 30px;
}

.box>.text>a {
    color: rgb(207, 162, 110);
}

.traction {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
}

.box {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 20px;
    line-height: 40px;
    color: rgb(207, 162, 110);
}

.box:hover {
    box-shadow: 0 4px 8px 0 rgba(94, 255, 0, 0.5), 0 6px 20px 0 rgba(94, 255, 0, 0.5);
}

.box>i {
    
    padding: 0px 0px 30px 50px;
    color: #e77619;
    font-size: 40px;
}

.counter {
    font-size: larger;
}

/* The Contact Section*/
.contact {
    height: 60rem;
    background: #252525;
    color: #aba6a6;
}

.conta {
    display: flex;
}
.conta>i {
    color: #e77619;
    font-size: 40px;
    padding-right: 20px;
}


form {
    height: 300px;
    width: 60%;
    margin-left: 400px;
    margin-top: 100px;
}

input[type="text"] {
    padding: 20px 60% 20px 20px;
    background-color: rgb(241, 241, 241);
}

input[type="txt"] {
    padding: 20px 60% 20px 20px;
    background-color: rgb(241, 241, 241);
}

input[type="tt"] {
    padding: 20px 60% 100px 20px;
    background-color: rgb(241, 241, 241);
}

form>input {
    margin: 20px ;
    border: none;
    border-radius: 10px;
}

.contact1 {
    display: flex;
    justify-content: space-between;
    padding: 100px 500px 10px 300px;
}

.cont1-a {
    padding: 0px 100px 0px 0px;
}

.cont1-b {
    padding: 100px 0px 0px 0px;
}

.cont2-a {
    padding: 0px 0px 0px 0px;
}

.cont2-b {
    padding: 100px 0px 0px 0px;
}

.conta {
    box-sizing: border-box;
    height: 100px;
    width: 500px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 0px 0px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.conta:hover {
    box-shadow: 0 4px 8px 0 rgba(94, 255, 0, 0.5), 0 6px 20px 0 rgba(94, 255, 0, 0.5);
}

.cont1-a>.conta>div {
    padding: 10px 0px 0px 100px;
}

.cont1-b>.conta>div {
    padding: 10px 0px 0px 100px;
}

.cont1-b>.conta>div>a>i {
    color: #e77619;
    padding-right: 30px;
}

.conta>i {
    padding: 20px 0px 0px 50px;
}

.conta>h3 {
    padding: 20px 10px 0px 100px;
}

.but {
    padding: 100px 0px 0px 750px;
}

.but>button {
    border: none;
    background: rgb(0, 59, 254);
    color: #aba6a6;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

button {
    
}

/* Footer Starts here*/
footer {
    background: #252525;
    color: #aba6a6;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
  }

  .copy__right {
      word-spacing: 10px;
      padding-left: 50px;
  }

.move-up i {
      color: #e77619;
      padding: 50px 0px 0px 50px;
  }